<div class="well well-mini">
  <ul class="nav nav-list bs-docs-sidenav">
    <%= active_li "Pay",                      adaptive_payments_path(:pay) %>
    <%= active_li "Payment Details",          adaptive_payments_path(:payment_details) %>
    <%= active_li "Preapproval",              adaptive_payments_path(:preapproval) %>
    <%= active_li "Preapproval Details",      adaptive_payments_path(:preapproval_details) %>
    <%= active_li "Refund",                   adaptive_payments_path(:refund) %>
    <%= active_li "Cancel Preapproval",       adaptive_payments_path(:cancel_preapproval) %>
    <%= active_li "Confirm Preapproval",      adaptive_payments_path(:confirm_preapproval) %>
    <%= active_li "Convert Currency",         adaptive_payments_path(:convert_currency) %>
    <%= active_li "Set Payment Options",      adaptive_payments_path(:set_payment_options) %>
    <%= active_li "Execute Payment",          adaptive_payments_path(:execute_payment) %>
    <%= active_li "Get Payment Options",      adaptive_payments_path(:get_payment_options) %>
  </ul>
</div>
